body {background-color: aliceblue;}
h1 {color: purple;
font-size: 40px;
text-align: center;
border: 10px solid gray;
padding: 15px;}
p {color: darkorange;
font-family: "Georgia", Times, serif;
font-size: 14px;}
.main_content {
  color: #2471A3;} 
.aside_content p {color: goldenrod;
 text-align: justify;}
.menu {background-color: #D6EAF8;} 
#requirements {
color: darkkhaki; font-size: 16pt;}
a:link {
  color: cadetblue;
}
a:visited {
  color: burlywood;
}
a:hover {
  color: yellow;
}
a:active {
  color: darkmagenta;
}
h2 {
  text-decoration-line: underline;
  text-decoration-thickness: 20%;
}

h3 {
  font-family: "Copperplate", Papyrus, fantasy;
  font-size: 20px;
}

li {
  font-family:'Trebuchet MS', sans-serif;
}
.banner {background-image: url("chi.jpg");
  height: 200px;
  background-repeat: no-repeat;
  background-size: cover;
}

#task img {border-radius: 9px;}
#submission img {border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
  width: auto;
}
 

  .grid-container {
      display: grid;
      grid-template-areas:
      'task task task task task task task task task task task task'
      'requirments requirments requirments requirments requirments requirments requirments requirments requirments'
      'submission submission submission grading grading grading';
      gap: 1em;
      background-color: peru;
      padding: 00.53em;
      
  }

  .grid-container > div {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 00.53em 0;
    font-size: 1em;
    
  }

  .flex-container {
    display: flex;
    background-color: #D7BDE2;
  }
  
  .flex-container > div {
    background-color:  rgba(255, 255, 255, 0.8);
    margin: 0.625em;
    padding: 1.25em;
    font-size: 1.25em;
  }



  .first {
    order: 2;
    background-color: #D7BDE2;
    width: 100%;
  }
  
  .second {
    order: 1;
    background-color: #D7BDE2;
    width: 100%;
  }
  
  .third {
    order: 3;
    background-color: #D7BDE2;
    width: 100%;
  }
  

   
@media screen and (max-width: 37.5em) {
    h1 {
        width: 100%;
    }
    .first {
      order: 1;
      width: 50%;
    }
    .second {
      order: 2;
      width: 50%;
    }
    .third {
      order: 3;
      width: 50%;
    }
    .flex-container {
      display: flow-root;
    }
    .img {
        width: 100%;
        height: 100%;
    }
    .grid-container{
        background-color: #F4ECF7;
        display: flow-root;
    }
    body {
        font-size: 00.53em;
        background-color: white;
    }

}


@media screen and (min-width: 21em) and (max-width: 69.9375em) {
  h1 {
    width: 100%;
  }
    .first {
    order: 1;
    width: 75%;
  }
  .second {
    order: 2;
    width: 75%;
  }
  .third {
    order: 3;
    width: 75%;
  }
  .flex-container {
    display: flow-root;
  }
  .img {
    width: 100%;
    height: 100%;
  }
  .grid-container{
      background-color: #CCD1D1;
      display: flow-root;
  }
  body {
      font-size: 00.73em;
      background-color: #FCF3CF;
  }

}

body
  {
    margin: 0;
    padding: 0;
    font-family: "Arial", "Helvetica", sans-serif;
  }
  
  #menuToggle
  {
    display: block;
    position: relative;
    top: 50px;
    left: 50px;
    
    z-index: 1;
    
    -webkit-user-select: none;
    user-select: none;
  }
  
  #menuToggle a
  {
    text-decoration: none;
    color: #232323;
    
    transition: color 0.3s ease;
  }
  
  #menuToggle a:hover
  {
    color: mediumpurple;
  }
  
  
  #menuToggle input
  {
    display: block;
    width: 40px;
    height: 32px;
    position: absolute;
    top: -7px;
    left: -5px;
    
    cursor: pointer;
    
    opacity: 0; 
    z-index: 2; 
    
    -webkit-touch-callout: none;
  }
  
  #menuToggle span
  {
    display: block;
    width: 33px;
    height: 4px;
    margin-bottom: 5px;
    position: relative;
    background: black;
    border-radius: 3px;
    z-index: 1;
    transform-origin: 4px 0px;
    transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
                background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
                opacity 0.55s ease;
  }
  
  #menuToggle span:first-child
  {
    transform-origin: 0% 0%;
  }
  
  #menuToggle span:nth-last-child(2)
  {
    transform-origin: 0% 100%;
  }
  
  #menuToggle input:checked ~ span
  {
    opacity: 1;
    transform: rotate(45deg) translate(-2px, -1px);
    background: #232323;
  }
  
  #menuToggle input:checked ~ span:nth-last-child(3)
  {
    opacity: 0;
    transform: rotate(0deg) scale(0.2, 0.2);
  }
 
  #menuToggle input:checked ~ span:nth-last-child(2)
  {
    transform: rotate(-45deg) translate(0, -1px);
  }
  
  #menu
  {
    position: absolute;
    width: 300px;
    margin: -100px 0 0 -50px;
    padding: 50px;
    padding-top: 125px;
    background: #ededed;
    list-style-type: none;
    -webkit-font-smoothing: antialiased;
    transform-origin: 0% 0%;
    transform: translate(-100%, 0);
    
    transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
  }
  
  #menu li
  {
    padding: 10px 0;
    font-size: 22px;
  }
  
  #menuToggle input:checked ~ ul
  {
    transform: none;
  }